* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Inconsolata", monospace, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e7d8c6;
  color: #333;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}